body {
  font-family: Arial, sans-serif;
}

label, input, button {
  padding: 6px 10px;
  font-size: 1.2em;
}

input[type=text] {
  width: 190px;
}

input[type=text].large {
  animation: large 500ms;
  animation-fill-mode: forwards;

  -webkit-animation: large 500ms;
  -webkit-animation-fill-mode: forwards;
}

input[type=text].small {
  animation: small 500ms;
  animation-fill-mode: forwards;

  -webkit-animation: small 500ms;
  -webkit-animation-fill-mode: forwards;
}

@keyframes large {
  from {width: 190px;}
  to {width: 300px;}
}

@-webkit-keyframes large {
  from {width: 190px;}
  to {width: 300px;}
}

@keyframes small {
  from {width: 300px;}
  to {width: 190px;}
}

@-webkit-keyframes small {
  from {width: 300px;}
  to {width: 190px;}
}